@page "/detalle/{Id:int}"
@inject HttpClient HttpClient
@inject IToastService ToastService
@inject ICarritoProxy CarritoProxy

<div class="container px-4 px-lg-5">
    @if (Producto is not null)
    {
        <div class="row gx-4 align-items-center">
            <div class="col">
                @if (string.IsNullOrWhiteSpace(Producto.UrlImagen))
                {
                    <img src="assets/images/sinimagen.jpeg" class="card-img-top border-dark" alt="No hay imagen" />
                }
                else
                {
                    <img src="@Producto.UrlImagen" class="card-img-top border-dark" alt="@Producto.Nombre" />
                }
            </div>
            <div class="col">
                <h1 class="display-5 fw-bolder">@Producto.Nombre</h1>
                <div class="fs-5 mb-5">
                    <span>$ @Producto.PrecioUnitario.ToString("N2")</span>
                </div>
                <p class="lead">@Producto.Descripcion</p>
                <div class="d-flex">
                    <input type="number" class="form-control text-center me-3" min="1" style="width: 60px" @bind-value="Cantidad" />
                    <button class="btn btn-primary flex-shrink-0 me-3" @onclick="() => AgregarCarrito(Producto)">
                        <i class="bi bi-cart-plus me-1"></i>
                        Agregar al carrito
                    </button>
                    <NavLink class="btn btn-outline-primary" href=""><i class="bi bi-backspace me-1"></i>Volver</NavLink>
                </div>
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    public ProductoDtoResponse? Producto { get; set; }

    public int Cantidad { get; set; } = 1;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var result = await HttpClient.GetFromJsonAsync<ProductoDtoRequest>($"api/Productos/{Id}");

            if (result is not null)
            {
                Producto = new();

                Producto.Id = Id;
                Producto.Nombre = result.Nombre;
                Producto.UrlImagen = result.UrlImagen;
                Producto.PrecioUnitario = result.PrecioUnitario;
                Producto.Descripcion = result.Descripcion;
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
    }

    private async Task AgregarCarrito(ProductoDtoResponse producto)
    {
        var carrito = new CarritoDto
            {
                ProductoDto = producto,
                Cantidad = Cantidad,
                Precio = producto.PrecioUnitario,
                Total = Cantidad * producto.PrecioUnitario
            };

        await CarritoProxy.AgregarCarrito(carrito);
    }
}
